.movieCard{
    list-style: none;
    
    text-align: center;


}

.movieImg {
    border-radius: 10px;
    width: 230px;
    height:345px;
}

#data{
    position: relative;
    display: inline-block;
    text-align: center;
}

#centrado{
    position: absolute;
    top: 50%;
    left: 50%;
}


@media(max-width:560px){
    .movieImg{
        width: 100%;
       height: auto;
    }
}

.tohide{
    display: none;
}