.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .col {
    max-width: 500px;
    margin-top: 100px;
    margin: 100px,30px,30px,30px;
    height: 500px;
    
  }
  
  .movieImage {
    border-radius: 15px;
    
  }
  
  .movieDetails {
    margin-top: 100px;
    margin: 100px,30px,30px,30px;
    font-size: 1.5rem;
    padding-left: 30px;
  }
  
  .firstItem {
    margin-top: 0;
  }
  